body {
    padding: 0;
    margin: 0;
}

html {
    font-size: calc(100vw / 3.75);
}

.main {
    width: 100%;
    margin: 0 auto;
}

.banner {
    position: relative;
    width: 100%;
    color: #fff;
    height: 240px;
}

.banner-wrap {
    display: table-cell;
    vertical-align: middle;
}

.banner-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 240px;
}

.banner-left-img {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 12px;
    width: 23%;
}

.banner-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: table;
    text-align: center;
    height: 240px;
}

.title {
    font-size: 36px;
}

.content {
    font-size: 20px;
}

.eng {
    font-size: 13px;
}

.footer {
    position: absolute;
    clear: both;
    width: 100%;
    background: url(xxx.png) no-repeat;
    background-size: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    z-index: 20;
}

.footer p {
    width: 80%;
    margin: 0 auto;
    color: #FFF;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
}

.footer-btn {
    font-size: 16px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #46c7af;
    text-align: center;
    color: #FFF;
    letter-spacing: 1px;
    z-index: 10;
}

.btn {
    width: 53%;
    margin: 0 auto;
    height: 54px;
    line-height: 54px;
    background-color: #46c7af;
    border-radius: 50px;
    text-align: center;
    color: #FFF !important;
    letter-spacing: 1px;
    display: block;
    font-size: 16px;
}

a:visited {
    color: inherit;
}

a:link {
    text-decoration: none;
}

.hide {
    display: none;
}

.layer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 21;
}

.width-all {
    width: 100%
}

.content-padding {
    padding-top: 18px
}

.wei-size {
    height: 24px;
    line-height: 24px;
    padding-right: 20px;
    padding-top: 8px
}

.icon {
    width: 30px;
    float: right;
}

.share {
    color: white;
    font-size: 20px;
    float: right
}

.brow {
    padding-right: 50px
}

.brow-open {
    color: white;
    font-size: 20px;
    float: right
}
